.wrapper {
  margin: 85px auto;
  width: 80.3%;
  padding: 10px;
}
.wrapper * {
  font-family: 'Lato', sans-serif;
}
.wrapper h5 {
  font-size: 15px;
  margin: 0;
}

@media screen and (max-width: 991px) {
  .wrapper {
    width: 95%;
    margin: 150px auto;
    padding: 1px;
  }
}

@media screen and (max-width: 600px) {
  .wrapper h3 {
    font-size: 11px;
    margin: 1px;
  }
}
