.library-wrapper {
  animation: fadeIn 3s ease-out forwards;
  transition: all 0.2s ease-in-out;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  position: relative;
}
.more-icon {
  position: absolute;
  color: white !important;
  top: -20px;
  z-index: 1000;
  right: 10px;
  border: 1px solid white;
  border-radius: 50%;
}
.more-icon:hover {
  color: #35edfb;
}
.library-image-card {
  height: 145px;
  width: 145px;
  text-align: center;
}

.library-image-card * {
  fill: #fff;
}

.library-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.library-wrapper:hover {
  cursor: pointer;
  transform: scale(1.1);
  border-radius: 5px;
}
.library-card-desc {
  color: white;
  margin-bottom: 2rem;
  margin-top: 0.3rem;
}

.library-card-desc h5 {
  font-size: 16px/61px;
  font-weight: 400;
}

.library-card-desc small {
  font-weight: lighter;
}

.img-circle {
  border-radius: 50%;
}
.desc-center {
  text-align: center;
}

.artistLikes {
  color: #99999f;
}
.artistLikes * {
  fill: #99999f !important;
}

.artistLikes span {
  font-size: 14px;
}

.overlay {
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background: linear-gradient(
    135deg,
    rgba(127, 33, 156, 0.8) 0%,
    rgba(189, 130, 222, 0.8) 40%,
    rgba(189, 67, 153, 0.6) 100%
  );
}

@keyframes card-appear {
  from {
    opacity: 0;
    transform: scale(0);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes bump {
  0% {
    transform: scale(1);
  }
  10% {
    transform: scale(0.9);
  }
  30% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
  }
}
