.modalHeader {
  position: absolute;
  left: 20px;
  top: 15px;
}

.contentWrap {
  margin-top: 50px;
}

.title {
  width: 420px;
  background-color: #161a1a;
  color: white;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
  border-bottom-color: #35edfb;
  outline: none;
}

.description {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  color: #99999f;
}

.textArea {
  width: 420px;
  background-color: #000;
  color: white;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
  border-bottom-color: #99999f;
  outline: none;
}

.genreCat {
  display: flex;
  justify-content: space-between;
}

.genreInput {
  background-color: #3a3a3d;
  color: white;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: solid;
  border-bottom-width: 1.5px;
  border-bottom-color: #35edfb;
  outline: none;
}

.genreCategory {
  background-color: #3a3a3d;
  color: white;
  border-style: hidden;
  border-bottom-color: #35edfb;
  outline: none;
}

.btnContainer {
  display: flex;
  justify-content: space-between;
  margin: 20px 30px 0 30px;
}

.cancelBtn {
  color: white;
  width: 140px;
  height: 40px;
  background-color: #3a3a3d;
  border: 1px solid #ffffff;
  border-radius: 20px;
}

.createBtn {
  color: white;
  width: 137px;
  height: 40px;
  background: transparent linear-gradient(273deg, #9b2def 0%, #2d9bef 58%, #35edfb 100%) 0% 0% no-repeat padding-box;
  border-radius: 40px;
}
