.browse_route {
  display: flex;
}
.allRoute {
  position: absolute;
  top: 15px;
  left: 50vw;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;

  width: fit-content;
  // margin-left: 40%;
  white-space: nowrap;
  .browse_route {
    padding-left: 1.5rem;
    a {
      text-decoration: none;
      color: #99999f;
    }
    a:hover {
      color: #fff;
    }
  }
  .navList {
    background-image: linear-gradient(to right, #9b2def 0%, #2dceef 100%);
    opacity: 1;
    background-position: 60% 100%;
    background-repeat: no-repeat;
    background-size: 50px 3px;
  }
  @media only screen and (max-width: 415px) {
    position: relative;
    // margin-left: 50%;
    margin: auto;
    transform: translateX(calc(-50% - 25px));
    .browse_route {
      padding-left: 0.7rem;
    }
  }
  @media only screen and( min-width: 990px) and (max-width: 1200px) {
    top: 60px;
  }
}
