.flez {
  display: flex;
  overflow-x: auto;
  :hover {
    transform: scale(1.05);
  }

  // &::-webkit-scrollbar-track {
  //   box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  // }

  // &::-webkit-scrollbar {
  //   height: 8px;
  // }

  // &::-webkit-scrollbar-thumb {
  //   background-color: #272a34;
  //   border-radius: 4px;
  // }
}
.genreImg {
  height: 95px;
  min-width: 153px;
  margin: 0 1.1rem;
  margin-bottom: 20px;
  margin-top: 30px;
  position: relative;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  img {
    width: 100%;
    border-radius: 5px;
    height: 100%;
    display: block;
    object-fit: cover;
  }
  h3 {
    font-size: 15px;
    color: #fff;
    position: absolute;
    // z-index: 10;
    // text-align: right;
    right: 10px;
    bottom: 10px;
    // font-size: 12px;
    // font-weight: 600;
    text-transform: uppercase;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    background: linear-gradient(
      135deg,
      rgba(127, 33, 156, 0.8) 0%,
      rgba(189, 130, 222, 0.8) 40%,
      rgba(189, 67, 153, 0.6) 100%
    );
  }
}
// .flex {
//   min-height: 100vh;
//   width: 100vw;
//   padding: 50px 150px;
// }
// @media screen and (max-width:1164px){
//     .genreImg{
//         height:100px;
//         width: 240px;
//         margin:0 1.1rem;
//         margin-bottom: 80px;
//         margin-top: 50px;
//          img{
//         width:100%;
//         border-radius: 5px;
//         height:100%;
//         display: block;
//         object-fit:cover;
//          }
// }
// }
